body
{
<<<<<<< HEAD
    color: rgb(133, 218, 53);
=======
    color: rgb(194, 55, 55);
>>>>>>> cabecera
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: yellowgreen;
    box-shadow: 0px 2px 20px 0px slategray;
    color: white;
    font-weight: bold;
    margin:  0.5cm;
}

#cabecera #tagline
{
    padding: 0 0 0 1cm;
    font-weight: normal;
    font-size: 0.8cm;
}

#container
{
    width: 70%;
    padding: 1cm;
    text-align: left;
    border: 1px solid white;
    margin: 0 auto;
}

#container
{
    font-size: 70px;
}